NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=shiftresume

SESSION_STORAGE_SECRET=

LOKI_ENABLED=
LOKI_HOST=
LOKI_PORT=
LOKI_AUTH_USER=
LOKI_AUTH_PASSWORD
